
* {
    box-sizing: border-box;
}

body {
    font-family: "Lucida Sans", sans-serif;
    font-size: 17px;
    background-color: #fcf8f9;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'header'
        'menu'
        'main'
        'Me'
        'footer';
    background-color: white;
    gap: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.header {
    grid-area: header;
    background-color: #e91e63; 
    text-align: center;
    color: #ffffff;
    padding: 15px 0;
}

.header > h1 {
    font-size: 40px;
}

.menu {
    grid-area: menu;
    background-color: #ffffff;
    padding: 10px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 10px;
    margin-bottom: 8px;
    background-color: #fce4ec; 
    color: #333333;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.menu li:hover {
    background-color: #f06292; 
    color: #ffffff;
    cursor: pointer;
}

.content {
    grid-area: main;
    padding: 10px;
}

.content > h2 { 
    font-size: 30px;
    margin-bottom: 10px;
    color: #e91e63;
}

.content > p {
    margin-bottom: 7px;
}

.Me {
    grid-area: Me;
    border: 1px solid #f06292;
    background-color: #fffafa; 
    padding: 15px;
    border-radius: 5px;
    text-align: center;
}

.Me img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.footer {
    grid-area: footer;
    background-color: #f06292;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}


@media (min-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
            "header header header header header header"
            "menu   menu   menu   main   main   main"
            "Me     Me     Me     Me     Me     Me"
            "footer footer footer footer footer footer";
    }

    .menu {grid-area: 2 / 1 / span 1 / span 3;} 
    .content {grid-area: 2 / 4 / span 1 / span 3;} 
    .Me {grid-area: 3 / span 6;} 
  }

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-areas:
            "header header header"
            "menu   main   Me"
            "footer footer footer";
    }
    .header {grid-area: header;}
    .menu {grid-area: menu;}
    .content {grid-area: main;}
    .Me {grid-area: Me;} 
    .footer {grid-area: footer;}
}